<header class="header">
  <div class="ham-menu">
    <div class="ham-menu-trigger"></div>
    <div class="header__address mb-4">
      <span>
        +icon('marker')
      </span>
      <span>г. Москва, м. Шаболовская, <br>  ул. Орджоникидзе, 3</span>
    </div>
    <div class="header__phone">
      <span>
        +icon('phone')
      </span>
      <span>
        <b>+7 (499) 705-64-59</b>
        <a href="#">Заказать звонок</a>
      </span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <a href="/" class="header__logo">ABcoach</a>
      </div>
      <div class="col d-none d-md-block offset-lg-1">Образовательный проект от <br> Международного Центра <br> подготовки коучей при РУДН</div>
      <div class="col d-none d-lg-block header__address">
        <span>
          +icon('marker')
        </span>
        <span>г. Москва, м. Шаболовская, <br>  ул. Орджоникидзе, 3</span>
      </div>
      <div class="col header__phone text-right d-none d-sm-block">
        <span>
          +icon('phone')
        </span>
        <span>
          <b>+7 (499) 705-64-59</b>
          <a href="#">Заказать звонок</a>
        </span>
      </div>
      <div class="col-auto d-block d-lg-none">
        <div class="ham-menu-trigger"></div>
      </div>
    </div>
  </div>
</header>
