[class^='icon-'], [class*=' icon-'] {
	display: inline-block;
	vertical-align: middle;
}

.icon-marker {
	width: 29px;
	height: 23px;
	fill: #deb880;
}
.icon-phone {
	width: 24px;
	height: 24px;
	fill: #deb880;
}